

<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-2 text-center">
      <div class="col-md-3">
        <p>User</p>
        <p><%= @users_count %></p>
      </div>
      <div class="col-md-3">
        <p>Post</p>
        <p><%= @posts_count %></p>
      </div>
      <div class="col-md-3">
        <p>Comment</p>
        <p><%= @comments_count %></p>
      </div>
    </div>
  </div>
</div>

<br>

<div class="container">
  <div class="row">

    <div class="col-md-10 col-md-offset-1">

      <div class="col-md-6 text-center">
        <div class="panel panel-default">
          <div class="panel-heading">Chatterbox</div>

          <table class="table table-hover">
            <% local_index = 1 %>
            <% @chatterbox.each do |chatter| %>
              <tr data-link="<%= user_path(chatter) %>">
                <th><%= local_index %>.</th>
                <td><%= chatter.name %></td>
                <td><%= chatter.replies_count %></td>
              </tr>
              <% local_index += 1 %>
            <% end %>
          </table>

        </div>
      </div>

      <div class="col-md-6 text-center">
        <div class="panel panel-default">
          <div class="panel-heading">Most Popular Post</div>
          
          <table class="table table-hover">
            <% local_index = 1 %>
            <% @popular_posts.each do |post| %>
              <tr data-link="<%= post_path(post) %>">
                <th><%= local_index %>.</th>
                <td><%= post.title %></td>
                <td><%= post.updated_at.strftime("%B %d, %Y") %></td>
              </tr>
              <% local_index += 1 %>
            <% end %>
          </table>
        
        </div>
      </div>

    </div>

  </div>
</div>