<h1><%= @post.title %></h1>

Content: <%= @post.content %><br>

<br>

<% if @post.user == current_user %>
  <%= link_to 'Edit', edit_post_path(@post) %><br>
  <%= link_to 'Delete', post_path(@post), method: :delete, :data => {confirm:"Are you sure?"} %><br>
<% else %>
  Edit<br>
  Delete<br>
<% end %>

<br>

<h3>Comments</h3>

<% @comments.each do |comment| %>
  <h5>
    <%= comment.user.name %>
    <%= time_ago_in_words(comment.created_at) %> ago
  </h5>
  <p><%= comment.content %></p>
<% end %>

<br>

<%= link_to 'Back to index', root_path %>