<%= render partial: "shared/profile" %>


<div class="container">
  <div class="row">
    <div class="col-md-12">

      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th class="text-center col-md-3">Title</th>
            <th class="text-center col-md-6">Content</th>
            <th class="text-center col-md-1">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @collects.each do |collect| %>
          <tr>
            <td><%= link_to collect.title, post_path(collect) %></td>
            <td><%= collect.content %></td>
            <td class="text-center">
              <div id="post-id-<%= collect.id %>">
                <% if collect.collected?(current_user) %>
                  <%= link_to 'Uncollect', uncollect_post_path(collect, path: "user_collects"), remote: true, method: :post, class: "btn btn-info" %>
                <% end %>
              </div>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>

      <div class="text-center">
        <%= paginate @collects %>
      </div>

    </div>

  </div>
</div>