<%= render partial: "shared/profile" %>


<div class="container">
  <div class="row">
    <div class="col-md-12">

      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th class="text-center col-md-3">Title</th>
            <th class="text-center col-md-6">Content</th>
            <th class="text-center col-md-1">Created at</th>
          </tr>
        </thead>
        <tbody>
          <% @comments.each do |comment| %>
          <tr>
            <td><%= link_to comment.post.title, post_path(comment.post) %></td>
            <td>
              <%= render partial: "shared/post_comment_body", :locals => {:comment => comment} %>
              <div class="pull-right">
                <% if current_user == comment.user %>
                  <%= link_to edit_post_comment_path(comment.post, comment), remote: true do %>
                    <span class="glyphicon glyphicon-pencil btn btn-info btn-md"></span>
                  <% end %>
                <% end %>
                <% if current_user.admin? || current_user == comment.user %>
                  <%= link_to post_comment_path(comment.post, comment), method: :delete, :data => {confirm:"Are you sure?"} do %>
                    <span class="glyphicon glyphicon-remove btn btn-danger btn-md"></span>
                  <% end %>
                <% end %>
              </div>
            </td>
            <td class="text-center"><%= comment.updated_at.strftime("%B %d, %Y") %></td>
          </tr>
          <% end %>
        </tbody>
      </table>

      <div class="text-center">
        <%= paginate @comments %>
      </div>

    </div>

  </div>
</div>