<%= render partial: "shared/profile" %>


<div class="container">
  <div class="row">
    <div class="col-md-12">

      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th class="text-center col-md-3">Title</th>
            <th class="text-center col-md-2">Status</th>
            <th class="text-center col-md-2">Created at</th>
            <th class="text-center col-md-2">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @posts.each do |post| %>
          <tr>
            <td><%= link_to post.title, post_path(post) %></td>
            <td class="text-center">
              <% if post.draft %>
                Draft
              <% else %>
                Published
              <% end %>
            </td>
            <td class="text-center"><%= post.updated_at.strftime("%B %d, %Y") %></td>
            <td class="text-center">
              <% if current_user %>
                <% if post.user == current_user %>
                  <%= link_to edit_post_path(post) do %>
                    <span class="glyphicon glyphicon-pencil btn btn-info btn-sm"></span>
                  <% end %>
                <% end %>
                <% if current_user.admin? || post.user == current_user %>
                  <%= link_to post_path(post), method: :delete, :data => {confirm:"Are you sure?"} do %>
                    <span class="glyphicon glyphicon-remove btn btn-danger btn-sm"></span>
                  <% end %>
                <% end %>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>

      <div class="text-center">
        <%= paginate @posts %>
      </div>

    </div>

  </div>
</div>