<div class="col-md-10 col-md-offset-1 post-comment-item">
  <div class="media">

    <div class="media-left text-center col-md-2">
      <div>
        <% if comment.user.avatar.url %>
          <p><%= image_tag comment.user.avatar.url, class: "img-responsive img-rounded" %></p>
        <% end %>
        <p><%= link_to comment.user.name, user_path(comment.user) %></p>
      </div>
      <div>
        <% if comment.user != current_user %>
          <% if current_user.inviting?(comment.user) %>
            <span class="btn btn-success btn-md">Inviting...</span>
          <% elsif current_user.friend?(comment.user) %>
            <span class="btn btn-info btn-md">Friend</span>
          <% else %>
            <%= link_to 'Add Friend', friendships_path(friend_id: comment.user), method: :post, class: "btn btn-primary" %>
          <% end %>
        <% end %>
      </div>
    </div>

    <%= render partial: "shared/post_comment_body", :locals => {:comment => comment} %>
  </div>

  <div class="pull-right">
    <% if current_user == comment.user %>
      <%= link_to edit_post_comment_path(@post, comment), remote: true do %>
        <span class="glyphicon glyphicon-pencil btn btn-info btn-md"></span>
      <% end %>
    <% end %>
    <% if current_user.admin? || current_user == comment.user %>
      <%= link_to post_comment_path(@post, comment), method: :delete, :data => {confirm:"Are you sure?"} do %>
        <span class="glyphicon glyphicon-remove btn btn-danger btn-md"></span>
      <% end %>
    <% end %>
  </div>

</div>