<h1><%= @post.title %></h1>

<% if @post.collected?(current_user) %>
  <div id="post-id-<%= @post.id %>">
    <%= link_to 'Uncollect', uncollect_post_path(@post), remote: true, method: :post, class: "btn btn-info" %>
  </div>
<% else %>
  <div id="post-id-<%= @post.id %>">
    <%= link_to 'Collect', collect_post_path(@post), remote: true, method: :post, class: "btn btn-primary" %>
  </div>
<% end %>


<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">

      <div class="page-header">

        <div class="col-md-3 col-sm-4">
          <div class="text-center">
            <%= image_tag @post.user.avatar.url, class: "img-responsive img-rounded" %>
          </div>
        </div>

        <div class="col-md-9 col-sm-8">
          <h2><%= link_to @post.user.name, user_path(@post.user) %></h2>
          <% if @post.user != current_user %>
            <% if current_user.inviting?(@post.user) %>
              <%= link_to 'Inviting ...', class: "btn btn-primary" %>
            <% elsif current_user.friend?(@post.user) %>
              <%= link_to 'Friend', class: "btn btn-primary" %>
            <% else %>
              <%= link_to 'Add Friend', friendships_path(friend_id: @post.user), method: :post, class: "btn btn-primary" %>
            <% end %>
          <% end %>
        </div>
        <div class="clearfix"></div>

      </div>

      <br>

    </div>
  </div>
</div>

<h3>Content</h3>
<%= render partial: "shared/post_content", :locals => {:post => @post} %>

<br>
<h3>Comments</h3>
<% @comments.each do |comment| %>
  <%= render partial: "shared/post_comment", :locals => {:comment => comment} %>
<% end %>

<div class="text-center">
  <%= paginate @comments %>
</div>

<div class="container">
  <div class="row">
   <%= form_for [@post, @comment] do |f| %>
    <div class="form-group">
      <%= f.text_area :content, placeholder: "留下評論吧", class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.submit class: "btn btn-primary" %>
      <%= f.button "Cancel", type: :reset, class: "btn btn-default" %>
    </div>
  <% end %>
  </div>
</div>

<br>

<%= link_to 'Back to index', root_path %>